body {
  background: #369;
  padding:0;
  margin:0;
  text-align:center;
  color: #FFF;
  font-family: Arial;
}

#heading {
  padding: 20px 20px 40px;
  background: #024;
}

h1 {
  font-size:38px;
  font-weight: 700;
}

h2 {
  font-size:24px;
  font-weight: normal;
}

#icon {
  display: block;
  box-sizing: border-box;
  width:100%;
  height:250px;
  background: #FFF;
  margin:auto;
  padding: 60px;
}

#options {
  margin-top:50px;
  margin-bottom: 75px;
  text-align:center;
}

.option {
  width:400px;
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: left;
}
label {
  text-align: right;
  display: inline-block;
  font-size:20px;
  width:100px;
}
select {
  font-family: Arial;
  font-size:20px;
  font-weight: normal;
  padding:10px;
  color: #333;
  display: inline-block;
  margin:10px;
}